<% include ../header %>

    <!-- 引入 富文本编辑器 -->
    <script src="/ueditor/ueditor.config.js"></script>
    <script src="/ueditor/ueditor.all.min.js"></script>

    <!-- 路径导航 -->
    <ol class="breadcrumb">
        <li>
            <a href="#">商品列表</a>
        </li>
        <li class="active">增加商品列表</li>
    </ol>
    <!-- 路径导航 END -->


    <!-- 发布文章 -->
    <div class="container courseAdd">
        <div class="row">
            <form action="/admin/goodscolomn/doadd" method="POST" enctype="multipart/form-data">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">商品栏目编号</span>
                        <input type="text" class="form-control" name="id">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">商品列表</span>
                        <input type="text" class="form-control" name="name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">商品列表图像</span>
                        <input type="file" class="form-control" name="imgurl" multiple>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">类别</span>
                        <select name="categoryId" class="form-control">
                            <!-- 循环栏目列表 -->
                            <% data.forEach(function(val){ %>
                                <option value="<%=val.id%>">
                                    <%=val.name%>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <input class="reset" type="reset">
                    </div>
                    <div class="col-md-6">
                        <input class="submit" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        // 实例化编辑器
        var ue = UE.getEditor('content');
    </script>


    <% include ../footer %>